<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <!-- <link href="../static/styles/main.css" rel="stylesheet" /> -->
    <title>Document</title>
  </head>
  <body>
    <h1>Bienvenido al panel de administración de Tegucigalpa</h1>

    <div id="msg"></div>
    <button id="btn"></button>

    <h2 th:text="${mensaje}"></h2>

    <div class="box" th:each="busq: ${busquedas}">
      <p>Búsqueda #<span th:text="${busq.id}"></span></p>
      <p th:text="${busq.busqueda}"></p>
      <p th:text="${busq.num_resultados}"></p>
    </div>

    <div id="counter"></div>
    <button id="fetch-btn">Llamar a status del servidor</button>
    <div id="status"></div>

    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <!-- <script type="text/javascript" src="../static/js/main.js"></script> -->
  </body>
</html>
